rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function isManager() {
      return request.auth.token.role == 'manager';
    }

    match /users/{userId} {
      allow read, write: if isManager() || request.auth.uid == userId;
      allow create: if isManager();
    }

    match /cars/{carId} {
        allow read, write: if isManager() || request.auth.uid == resource.data.employeeId;
        allow create: if request.auth.uid != null;
    }

    match /owners/{ownerId} {
        allow read: if request.auth.uid != null;
        allow write: if isManager();
    }

    match /policies/{policyId} {
        allow read, write: if isManager() || request.auth.uid == resource.data.employeeId;
        allow create: if request.auth.uid != null;
    }
  }
}
